.user {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  height: auto;
  margin: 15px 15px 0 0;

  &__text-wrapper {
    display: flex;
    width: 160px;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    margin-right: 5px;
  }

  &__name {
    overflow: hidden;
    max-width: 250px;
    margin-bottom: 5px;
    font-size: 12px;
    text-align: right;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }

  &__date {
    color: $color-text-secondary;
    font-size: 12px;
  }

  &__avatar {
    display: block;
    width: 45px;
    height: 45px;
    align-self: center;
    border-radius: 50%;
  }
}
