.tags {
  display: flex;
  flex: 0 0;
  flex-direction: row;

&__tag {
  display: flex;
  overflow: hidden;
  max-width: 100px;
  align-items: center;
  margin-bottom: 10px;
  background-color: unset;
  color: $color-text-secondary;
  text-overflow: ellipsis;
  user-select: none;

  // height: 45px;
}
}
