.tags {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  margin-top: 10px;
  row-gap: 10px;

  &__tag {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: unset;
    color: $color-text-secondary;
    text-overflow: ellipsis;
    user-select: none;
  }
}
