.article {
  position: relative;
  display: flex;
  width: 70%;
  height: fit-content;
  flex-direction: column;
  padding: 20px;
  border-radius: $article-border-radius;
  margin: 15px auto 20px;
  background-color: $color-white;
  box-shadow: 0 4px 50px 0 $color-article-shadow;

  &__title {
    display: flex;
    overflow: hidden;
    max-width: calc(100% - 225px);
    align-items: center;
    margin-top: 0;
    margin-bottom: 10px;
    color: $color-article-title;
    font-size: 20px;
  }

  &__text {
    padding: 10px;
    color: $color-text-secondary;

    &--description {
      overflow: hidden;
      width: calc(100% - 200px);
      margin-right: 10px;
      font-style: italic;
    }

    &--body {
      display: flex;
      width: 100%;
      height: fit-content;
      word-break: break-all;
    }

    & img {
      width: 100%;
      height: auto;
    }

    & ul, & li, & ol {
      margin: unset;
      list-style: disc;
    }

    & a, & a:visited {
      color: blue;
      text-decoration: unset;
    }
  }
}

.description-wrapper {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
