.article {
  position: relative;
  display: flex;
  width: 70%;
  height: min-content;
  flex-direction: column;
  padding: 20px;
  border-radius: $article-border-radius;
  margin: 15px auto 0;
  margin-bottom: 20px;
  background-color: $color-white;
  box-shadow: 0 4px 50px 0 $color-article-shadow;


  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: $color-article-title;
    font-size: 20px;
  }

  &__text {
    width: 100%;
    height: 100%;
    padding: 10px;
    color: $color-text-secondary;

    & img {
      width: 100%;
      height: auto;
    }

    & ul, & li, & ol {
      margin: unset;
      list-style: disc;
    }

    & a, & a:visited {
      color: blue;
      text-decoration: unset;
    }
  }
}
