$text-color: black;
$text-color-secondary: #00000080;

$btn-signup: #52C41A;

$background-color: #EBEEF3;

$color-white: #fff;

$article-shadow-color: rgba(0, 0, 0, 0.15);
$article-title-color: #1890FF;
$article-border-radius: 6px;

$heart: "/assets/heart.svg";
$heart-full: "/assets/heart-full.svg";
$heart-gray: "/assets/heart-gray.svg";
$heart-size: 16px;

$header-height: 80px;
