// Colors
$color-article-shadow: rgb(0 0 0 / 15%);
$color-article-title: #1890FF;
$color-btn-create: #1890FF;
$color-btn-disabled: #00000080;
$color-btn-create-article: #52C41A;
$color-btn-signup: #52C41A;
$color-btn-logout: rgb(0 0 0 / 75%);
$color-background: #EBEEF3;
$color-danger: tomato;
$color-input-border: rgb(0 0 0 / 15%);
$color-link: #1890FF;
$color-text: black;
$color-text-secondary: #00000080;
$color-white: #fff;

// Radii
$article-border-radius: 6px;
$button-border-radius: 6px;

// Assets
$heart: "/assets/heart.svg";
$heart-full: "/assets/heart-full.svg";
$heart-gray: "/assets/heart-gray.svg";

// Sizes
$heart-size: 16px;
$header-height: 80px;
