html {
  box-sizing: border-box;
  font-family: "Inter UI", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

ul,
li,
body,
button,
p,
 {
  padding: 0;
  border: none;
  margin: 0;
  background-color: unset;
  font: inherit;
  list-style: none;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}
