html {
  box-sizing: border-box;
  font-family: "Inter UI", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul,
li,
body,
button,
p,
 {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  font: inherit;
  background-color: unset;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}
