.header {
  height: $header-height;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;

  &__title {
    margin-left: 20px;
  }
}

.btn {
  display: flex;

  &--signup {
    color: $btn-signup;
    border-color: $btn-signup;
    padding: 5px;
    margin-right: 20px;
  }

  &--signin {
    margin-left: auto;
    margin-right: 10px;
  }
}

.content {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - $header-height);
}
