.article {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: $article-border-radius;
  background-color: $color-white;
  box-shadow: 0 4px 50px 0 $color-article-shadow;

  &__item {
    width: 680px;
    min-height: 145px;
    align-items: start;
    padding: 10px;
    margin: 20px auto 0;

    &:last-child {
      margin-bottom: 20px;
    }
  }

  &__title  {
    display: flex;
    overflow: hidden;
    max-width: 440px;
    flex: 0 0;
    margin-bottom: 10px;
    color: $color-article-title;
    font-size: 20px;
    line-height: 20px;

    &--link {
      overflow: hidden;
      max-width: 390px;
      flex: 0 0 auto;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__text {
    overflow: hidden;
    width: 100%;
    color: $color-text-secondary;
    font-size: 12px;
    text-overflow: ellipsis;


    & ul, & li {
      list-style: unset;
    }

    & a, & a:visited {
      color: blue;
      text-decoration: unset;
    }
  }
}
